NEXT_PUBLIC_PRIVY_APP_ID=
NEXT_PUBLIC_RPC_ENDPOINT=https://rpc.magicblock.app/devnet
NEXT_PUBLIC_MAGICBLOCK_ROUTER=https://devnet-router.magicblock.app/
NEXT_PUBLIC_PROGRAM_ID=FbXiX6xcMRPVuTc7AZkQMSbpKa1uBzQY16NFf5jhJC7h
NEXT_PUBLIC_WAGER_MINT=So11111111111111111111111111111111111111112
NEXT_PUBLIC_WAGER_SYMBOL=WSOL
NEXT_PUBLIC_WAGER_DECIMALS=9
NEXT_PUBLIC_PLATFORM_FEE_WALLET=
NEXT_PUBLIC_PLATFORM_FEE_BPS=100
NEXT_PUBLIC_API_URL=
